.desktop {
  position: relative;
  background-color: #11b2b2;
  display: block;

  flex: 1 1 auto;
  width: 100%;

  overflow: visible;
}

.applicationContainer {
  position: absolute;
  top: 0;
  left: 0;
  
  pointer-events: none;
  width: 100%;
  --dock-height: 90px;
  height: calc(100% - var(--dock-height));
}

.applicationContainer > * {
  pointer-events: initial;
}

@media (max-width: 768px) {
  .applicationContainer {
    --dock-height: 76px;
  }
}